ScadaCore/RealTimeUnit/Connected Services/ServiceReference1/RealTimeUnitService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="RealTimeUnitService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49357/RealTimeUnitService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49357/RealTimeUnitService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRealTimeUnitService_CreateRealTimeUnit_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateRealTimeUnit" />
  </wsdl:message>
  <wsdl:message name="IRealTimeUnitService_CreateRealTimeUnit_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateRealTimeUnitResponse" />
  </wsdl:message>
  <wsdl:message name="IRealTimeUnitService_SetValue_InputMessage">
    <wsdl:part name="parameters" element="tns:SetValue" />
  </wsdl:message>
  <wsdl:message name="IRealTimeUnitService_SetValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetValueResponse" />
  </wsdl:message>
  <wsdl:portType name="IRealTimeUnitService">
    <wsdl:operation name="CreateRealTimeUnit">
      <wsdl:input wsaw:Action="http://tempuri.org/IRealTimeUnitService/CreateRealTimeUnit" message="tns:IRealTimeUnitService_CreateRealTimeUnit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRealTimeUnitService/CreateRealTimeUnitResponse" message="tns:IRealTimeUnitService_CreateRealTimeUnit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IRealTimeUnitService/SetValue" message="tns:IRealTimeUnitService_SetValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRealTimeUnitService/SetValueResponse" message="tns:IRealTimeUnitService_SetValue_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRealTimeUnitService" type="tns:IRealTimeUnitService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateRealTimeUnit">
      <soap:operation soapAction="http://tempuri.org/IRealTimeUnitService/CreateRealTimeUnit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetValue">
      <soap:operation soapAction="http://tempuri.org/IRealTimeUnitService/SetValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RealTimeUnitService">
    <wsdl:port name="BasicHttpBinding_IRealTimeUnitService" binding="tns:BasicHttpBinding_IRealTimeUnitService">
      <soap:address location="http://localhost:49357/RealTimeUnitService.svc/RealTimeUnit" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>