ScadaCore/ReportManager/Connected Services/ServiceReference1/ReportService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49357/ReportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ScadaCore.model" />
  <xs:element name="GetAlarmsByDateRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmsByDateRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ScadaCore.model" minOccurs="0" name="GetAlarmsByDateRangeResult" nillable="true" type="q1:ArrayOfAlarmEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmsByPriority">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="priority" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmsByPriorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ScadaCore.model" minOccurs="0" name="GetAlarmsByPriorityResult" nillable="true" type="q2:ArrayOfAlarmEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagsByDateRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagsByDateRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ScadaCore.model" minOccurs="0" name="GetTagsByDateRangeResult" nillable="true" type="q3:ArrayOfTagEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestAnalogInputTags">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestAnalogInputTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ScadaCore.model" minOccurs="0" name="GetLatestAnalogInputTagsResult" nillable="true" type="q4:ArrayOfTagEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestDigitalInputTags">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestDigitalInputTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ScadaCore.model" minOccurs="0" name="GetLatestDigitalInputTagsResult" nillable="true" type="q5:ArrayOfTagEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagValuesByIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagValuesByIdentifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ScadaCore.model" minOccurs="0" name="GetTagValuesByIdentifierResult" nillable="true" type="q6:ArrayOfTagEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>