ScadaCore/ReportManager/Connected Services/ServiceReference1/ReportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ReportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49357/ReportService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49357/ReportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49357/ReportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ScadaCore.model" />
      <xsd:import schemaLocation="http://localhost:49357/ReportService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ScadaCore.model.enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReportService_GetAlarmsByDateRange_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmsByDateRange" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetAlarmsByDateRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmsByDateRangeResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetAlarmsByPriority_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmsByPriority" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetAlarmsByPriority_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmsByPriorityResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetTagsByDateRange_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTagsByDateRange" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetTagsByDateRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTagsByDateRangeResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetLatestAnalogInputTags_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestAnalogInputTags" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetLatestAnalogInputTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestAnalogInputTagsResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetLatestDigitalInputTags_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestDigitalInputTags" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetLatestDigitalInputTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestDigitalInputTagsResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetTagValuesByIdentifier_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTagValuesByIdentifier" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetTagValuesByIdentifier_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTagValuesByIdentifierResponse" />
  </wsdl:message>
  <wsdl:portType name="IReportService">
    <wsdl:operation name="GetAlarmsByDateRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetAlarmsByDateRange" message="tns:IReportService_GetAlarmsByDateRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetAlarmsByDateRangeResponse" message="tns:IReportService_GetAlarmsByDateRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlarmsByPriority">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetAlarmsByPriority" message="tns:IReportService_GetAlarmsByPriority_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetAlarmsByPriorityResponse" message="tns:IReportService_GetAlarmsByPriority_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTagsByDateRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetTagsByDateRange" message="tns:IReportService_GetTagsByDateRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetTagsByDateRangeResponse" message="tns:IReportService_GetTagsByDateRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestAnalogInputTags">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetLatestAnalogInputTags" message="tns:IReportService_GetLatestAnalogInputTags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetLatestAnalogInputTagsResponse" message="tns:IReportService_GetLatestAnalogInputTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestDigitalInputTags">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetLatestDigitalInputTags" message="tns:IReportService_GetLatestDigitalInputTags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetLatestDigitalInputTagsResponse" message="tns:IReportService_GetLatestDigitalInputTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTagValuesByIdentifier">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetTagValuesByIdentifier" message="tns:IReportService_GetTagValuesByIdentifier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetTagValuesByIdentifierResponse" message="tns:IReportService_GetTagValuesByIdentifier_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReportService" type="tns:IReportService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAlarmsByDateRange">
      <soap:operation soapAction="http://tempuri.org/IReportService/GetAlarmsByDateRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlarmsByPriority">
      <soap:operation soapAction="http://tempuri.org/IReportService/GetAlarmsByPriority" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTagsByDateRange">
      <soap:operation soapAction="http://tempuri.org/IReportService/GetTagsByDateRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestAnalogInputTags">
      <soap:operation soapAction="http://tempuri.org/IReportService/GetLatestAnalogInputTags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestDigitalInputTags">
      <soap:operation soapAction="http://tempuri.org/IReportService/GetLatestDigitalInputTags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTagValuesByIdentifier">
      <soap:operation soapAction="http://tempuri.org/IReportService/GetTagValuesByIdentifier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportService">
    <wsdl:port name="BasicHttpBinding_IReportService" binding="tns:BasicHttpBinding_IReportService">
      <soap:address location="http://localhost:49357/ReportService.svc/Report" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>